In [ ]:
# one tailed and two tailed tests

In [7]:
(120)**.5

10.954451150103322

In [6]:
(1100-1000)/(90/10.95445115)

12.171612388888889

In [11]:
(21.4-20)/(4/6)

2.099999999999998

In [10]:
36**.5

6.0

In [1]:
import numpy as np
import pandas as pd
import scipy.stats as st
import statsmodels
from statsmodels.stats.weightstats import ztest as zt

In [2]:
import seaborn as sns

In [3]:
help(zt)

Help on function ztest in module statsmodels.stats.weightstats:

ztest(x1, x2=None, value=0, alternative='two-sided', usevar='pooled', ddof=1.0)
    test for mean based on normal distribution, one or two samples

    In the case of two samples, the samples are assumed to be independent.

    Parameters
    ----------
    x1 : array_like, 1-D or 2-D
        first of the two independent samples
    x2 : array_like, 1-D or 2-D
        second of the two independent samples
    value : float
        In the one sample case, value is the mean of x1 under the Null
        hypothesis.
        In the two sample case, value is the difference between mean of x1 and
        mean of x2 under the Null hypothesis. The test statistic is
        `x1_mean - x2_mean - value`.
    alternative : str
        The alternative hypothesis, H1, has to be one of the following

           'two-sided': H1: difference in means not equal to value (default)
           'larger' :   H1: difference in means larger than value
           'smaller' :  H1: difference in means smaller than value

    usevar : str, 'pooled'
        Currently, only 'pooled' is implemented.
        If ``pooled``, then the standard deviation of the samples is assumed to be
        the same. see CompareMeans.ztest_ind for different options.
    ddof : int
        Degrees of freedom use in the calculation of the variance of the mean
        estimate. In the case of comparing means this is one, however it can
        be adjusted for testing other statistics (proportion, correlation)

    Returns
    -------
    tstat : float
        test statistic
    pvalue : float
        pvalue of the t-test

    Notes
    -----
    usevar not implemented, is always pooled in two sample case
    use CompareMeans instead.

In [3]:
df=pd.read_csv("bloodpressure.csv")
df

     patient     sex agegrp  bp_before  bp_after
0          1    Male  30-45        143       153
1          2    Male  30-45        163       170
2          3    Male  30-45        153       168
3          4    Male  30-45        153       142
4          5    Male  30-45        146       141
..       ...     ...    ...        ...       ...
115      116  Female    60+        152       152
116      117  Female    60+        161       152
117      118  Female    60+        165       174
118      119  Female    60+        149       151
119      120  Female    60+        185       163

[120 rows x 5 columns]

In [4]:
x1=df["bp_before"][0:40]
len(x1)

40

In [18]:
x1_mean=x1.mean()
x1_mean

156.25

In [22]:
x1_std=x1.std()
x1_std

11.443842818806035

In [23]:
n=40

In [19]:
z_val,p_val=zt(x1,value=156.45,alternative="two-sided")

In [20]:
z_val

-0.11053202006485188

In [21]:
p_val

0.9119874571004282

In [30]:
alpha=0.05
if p_val<alpha:
    print("reject null hypo")
else:
    print("accept null hypo")

accept null hypo

In [5]:
x2=df["bp_after"][0:40]
len(x2)

40

In [5]:
x2_mean=x2.mean()
x2_mean

151.85

In [7]:
x2_std=x2.std()
x2_std

15.626325584796037

In [22]:
n=40

In [9]:
z_val,p_val=zt(x2,value=151.85,alternative="two-sided")

In [10]:
z_val

0.0

In [11]:
p_val

1.0

In [12]:
alpha=0.05
if p_val<alpha:
    print("null rejected")
else:
    print("null accepted")

null accepted

In [9]:
x1.mean()-x2.mean()

4.400000000000006

In [10]:
z_val,p_val=zt(x1,x2,value=0,alternative="two-sided")
print(z_val)
print(p_val)

1.4367589369629403
0.15078650190868437

In [12]:
alpha=0.05
if p_val<alpha:
    print("reject null hypo")
else:
    print("accept null hypothesis")

accept null hypothesis

In [17]:
z_val,p_val=zt(x1,x2,value=4.5,alternative="two-sided")
print(z_val)
print(p_val)

-0.03265361220370129
0.9739508162439202

## to find ci

In [26]:
ci_neg=x1.mean()-z_val*(x1.std()/np.sqrt(n))
ci_pos=x1.mean()+z_val*(x1.std()/np.sqrt(n))

In [27]:
ci_neg,ci_pos

(156.45, 156.05)

In [30]:
a=15**.5

In [31]:
a

3.872983346207417

In [32]:
(290-300)/(50/a)

-0.7745966692414834

In [54]:
x=np.random.normal(loc=30,scale=5,size=100)       #loc is mean and scale is deviation
x

array([37.70267051, 36.44132413, 30.22070253, 21.0162738 , 17.70444745,
       30.66799347, 36.90233325, 20.93433894, 26.39268603, 20.74113893,
       31.37709123, 32.33021303, 34.23447767, 34.2941217 , 39.35341565,
       24.51395949, 20.27101138, 33.12160199, 33.27110827, 26.24446907,
       27.85217559, 31.43775495, 31.8177035 , 22.95477735, 35.54778838,
       32.78201981, 24.34803751, 36.16079358, 18.95648037, 28.48660079,
       36.44589905, 32.33315596, 29.02496127, 32.93356353, 32.90149475,
       32.28675932, 27.43176658, 17.8708476 , 26.87864022, 35.28987716,
       34.1790002 , 33.79951777, 27.17932195, 38.6843338 , 26.95840246,
       43.66598541, 31.92193033, 41.0782451 , 30.40871507, 29.29904021,
       31.80934884, 26.91507034, 28.94054695, 31.30583521, 31.81364177,
       24.89733743, 35.78368846, 34.96304756, 39.10410046, 30.84534104,
       33.88338655, 27.22185066, 32.48779939, 27.82906189, 24.71786049,
       24.97377938, 39.76129806, 31.31467126, 30.55815116, 31.88855022,
       33.30735216, 26.65635669, 23.25175897, 23.00289315, 30.0028384 ,
       36.83107494, 28.092782  , 22.5180905 , 27.07008728, 34.14394271,
       26.89307915, 30.46593657, 25.71989502, 24.45371251, 32.44111237,
       28.5550939 , 30.12758423, 33.67383897, 31.36897516, 25.96346116,
       28.81397013, 28.06946557, 26.24516533, 25.51365437, 34.18417498,
       34.88949914, 29.01975016, 33.36346471, 21.99419822, 25.35537894])

In [39]:
pd.Series(x).skew()

-0.16103180749224275

In [51]:
x1=x[90:100]

In [52]:
x1

array([36.23387013, 26.33343633, 33.48966861, 26.61440993, 33.24798013,
       32.41786335, 30.75471593, 29.58329258, 28.17487585, 22.0168944 ])

In [53]:
t_val,p_val=st.ttest_1samp(x1,x.mean())
print(t_val)
print(p_val)

-0.8430592880714338
0.4210353206825961

In [7]:
import scipy.stats
import pandas as pd

In [9]:
t_val,p_val=scipy.stats.ttest_rel(x1,x2)
print(p_val)
print(t_val)
if p_val<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

0.18971431308295203
1.3347010727377813
accept null hypothesis

## Chi Square Test

In [10]:
df=pd.DataFrame({"height":[170,180,120,160,150],"weight":[85,95,60,80,75]})
df

   height  weight
0     170      85
1     180      95
2     120      60
3     160      80
4     150      75

In [11]:
df["height"].var()

530.0

In [12]:
df["weight"].var()

167.5

In [13]:
(20-1)*8/7.2

21.11111111111111

In [1]:
556+184

740

In [2]:
193-191.39

1.6100000000000136

In [5]:
import seaborn as sns

In [3]:
df=sns.load_dataset("iris")
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
df.loa